

{% extends "layout.html" %}

{% block title %}Log in{% endblock %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">{% endblock %}


{% block content %}


<div id="connexion">

  			<img src="https://cdn.glitch.com/880b6cc1-76a4-4fd0-a576-d6d08d4d6317%2Fisty.png?v=1568909480589" class="logo">

      <div id="header">
				<h1>FORGOT MY PASSWORD</h1>
          </div>

  
			<div id="formulaire">

			<form action="/forgot_password" method="post">

	          	<div><input type="email" name="email" placeholder="Mail" required></div>

	      		<div id="footer">
                <a class="mdpoublie" href="login">I remember it !</a>
  	      			<input class="btn" type="submit" value="Send me a new mail">
            </div>

			</form>
  </div>
		</div>
{% endblock %}