{% extends "layout.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<p>Welcome to "The Web Teaching Server". The aim of this website
    is to learn how to build... a website!
    This website is deliberately minimalist in design and functionalities
    because YOU will learn partly by hacking this app and proposing
    improvements. See <a href="https://github.com/twts-isty-19/the-web-teaching-server">
    the instructions to contribute!</a>
    </p>

<p>This website also contains some classical teaching material and
    exercises. Here are the available chapters:
</p>
{% if current_user.is_teacher %}
    <a href="{{ url_for('answers.see_results') }}">
        See the student's results
    </a>
{% endif %}
<table>
    <thead>
        <th>Chapters</th>
        <th>Quizz</th>
        <th>Dead line</th>
        {% if current_user.is_teacher %}
        <th>Correction</th>
        {% endif %}
    </thead>
    <tbody>

        {% for chapter in chapters %}
        <tr>
            <td>
                <a href="{{ url_for('lessons.chapter', chapter_id=chapter.id) }}">
                    {{ chapter.name }}
                </a>
            </td>
            <td>
                <a href="{{ url_for('answers.answers_get', chapter_id=chapter.id) }}">
                    {{ chapter.quizz_status }}
                </a>
            </td>
            <td>{{ chapter.end_date }}</td>
            {% if current_user.is_teacher %}
            <td>
                <a href="{{ url_for('answers.correct_quizz', chapter_id=chapter.id) }}">
                    Go to correction
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
