{% extends "layout.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<p>Bienvenue sur la page du cours AWS</p>

<p>Voici les différents chapitres accessibles</p>
<table>
    <thead>
        <th>Chapitre</th>
        <th>Exercices</th>
        <th>À finir le</th>
    </thead>
    <tbody>
        {% for chapter in chapters %}
        <tr>
            <td>
                <a href="{{ url_for('chapter', chapter_id=chapter.id) }}">
                    {{ chapter.name }}
                </a>
            </td>
            <td>{{ chapter.exercises_status }}</td>
            <td>{{ chapter.end_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}