{% extends "layout.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<p>Welcome to "The Web Teaching Server". The aim of this website
    is to learn how to build... a website!
    This website is deliberately minimalist in design and functionalities
    because YOU will learn partly by hacking this app and proposing
    improvements. See TODO.</p>

<p>This website also contains some classical teaching material and
    exercises. Here are the available chapters:
</p>
<table>
    <thead>
        <th>Chapters</th>
        <th>Quizz</th>
        <th>Dead line</th>
    </thead>
    <tbody>
        {% for chapter in chapters %}
        <tr>
            <td>
                <a href="{{ url_for('lessons.chapter', chapter_id=chapter.id) }}">
                    {{ chapter.name }}
                </a>
            </td>
            <td>
                <a href="{{ url_for('answers.answers_get', chapter_id=chapter.id) }}">
                    {{ chapter.quizz_status }}
                </a>
            </td>
            <td>{{ chapter.end_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}