<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %} - The Web Teaching Server</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    {% block head %}{% endblock %}
</head>
<body style="padding-left:36%;display: flex;flex-direction: column;">
  <p><img class="img-logo" src="https://cdn.glitch.com/0053d526-9f2d-417d-8de7-e49ba9dd0623%2Flogo.png?v=1567623831898" alt="site logo"></p>
    <!--<h1><a href="/">The Web Teaching Server</a></h1>--> 
    <nav>
        {% if current_user.is_authenticated %}
          <div><span>{{ current_user.email }}</span>
          &ndash;<a href="{{ url_for('users.logout') }}">Log out</a>
        </div>
        {% endif %}
    </nav>
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
</body>
</html>