<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %} - The Web Teaching Server</title>
    <meta charset="utf-8">
    {% block head %}{% endblock %}
</head>
<body>
    <a href="/">
      <img id="picture" src="https://cdn.glitch.com/6440916f-9243-4f1d-aad1-d004ac1366ce%2FTheWebTeachingServer.png?v=1567887546952" alt="The Web Teaching Server">
    </a>
    <nav>
        {% if current_user.is_authenticated %}
          <div><span>{{ current_user.email }}</span>
          &ndash;<a href="{{ url_for('users.logout') }}">Log out</a>
        </div>
        {% endif %}
    </nav>
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
</body>
</html>