{% extends "layout.html" %}

{% block title %}HTML et CSS{% endblock %}

{% block content %}
<h2>HTML et CSS</h2>

<h3>
    Qu'est-ce qu'est une balise HTML et comment s'imbriquent ces balises?
</h3>

Une balise HTML est une information structurée. Voici les balises
les plus utilisées:
<ul>
    <li><code>&lgt;p></code> définit un paragraphe;</li>
    <li><code><pre>&lgt;h1> &lgt;h2> ... &lgt;h6</pre></code> définissent des en-têtes
    de plusieurs niveau (l;</li>
</ul>

Voici un exemple
<textarea readonly class="code">
<p>Salut!</p>
</textarea>


{% endblock %}