{% extends "layout.html" %}

{% block title %}Security{% endblock %}

{% block content %}
<h2>User account and security</h2>

<p>This lesson is about security, taking user account
    as a starting point.
</p>

<p>Keep in mind:
    <ul>
        <li><strong>Never trust user input!</strong></li>
        <li><strong>Never store plain text passwords</strong></li>
    </ul>
</p>
<h3>Slides:</h3>
<p>You can see <a href="https://slides.com/sebbes/user-account-security">
    the slides of the lecture</a>.
</p>


<p>To go further about security, you can try one of this website:
    <ul>
        <li><a href="http://root-me.org">Root Me</a> and <a href="https://www.newbiecontest.org/">Newbie Contest</a>,two french site about the security on websites,</li>
        <li><a href="https://www.hackthebox.eu/">Hack the box</a> is more
            realistic (so maybe a bit more difficult),
        <li><a href="overthewire.org">Over the wire</a> is more oriented toward system security.</li>
        <li>You can also train yourself during competitive events organized
            for instance on <a href="http://ctftime.org">ctftime.org</a>.
        </li>
    </ul>
</p>

<h3>Tutorial</h3>
<p>Create an account on Glitch.com and log you in. <br/>
You can now<a href="https://glitch.com/edit/#!/remix/twts-tuto-05" target="_blank">do the tutorial!</a></p>
{% endblock %}
