{% extends "layout.html" %}

{% block title %}Websockets{% endblock %}

{% block content %}
<h2>Websockets</h2>

<p>It is time to learn how to make the server send data to the users!
</p>

<h3>Slides:</h3>
<p>You can see <a href="https://slides.com/sebbes/websockets/">
    the slides of the lecture</a>.
</p>


<h3>Tutorial</h3>
<p>Create an account on Glitch.com and log you in. <br/>
You can now<a href="https://glitch.com/edit/#!/remix/twts-tuto-06" target="_blank">do the tutorial!</a></p>
{% endblock %}
