{% extends "layout.html" %}

{% block title %}Websockets{% endblock %}

{% block content %}

    <h2>Websockets</h2>
    <div id="container_websockets">
        <p>It is time to learn how to make the server send data to the users!
        </p><hr/><br/> 

        <!-- table -->
        <div class="table">
          <table id="table">
            <thead>
              <th>Slides</th>
              <th>Tutorial</th>
              <th>Quizz</th>
            </thead>
            <tbody>
              <tr> 
                <td>
                  <p>You can see <a href="https://slides.com/sebbes/websockets/" target="_blank"> 
                      the slides of the lecture</a>.
                  </p>
                </td>
                <td>
                  <p>
                    Create an account on Glitch.com and log you in. <br/>
                    You can now<a href="https://glitch.com/edit/#!/remix/twts-tuto-06" target="_blank">do the tutorial!</a>
                  </p> 
                </td>
                <td> <a href="http://twts-isty-19.herokuapp.com/quizz/06-websockets">Quizz Websockets</a></td>
              </tr>
            </tbody>
         </table>
        </div>
    </div>

{% endblock %}
